@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="height: calc(100vh - 67px); display: flex; align-items: center;">
    <div class="row w-100">
        <div class="col-lg-6 col-md-8 text-center">
            <h1>Bienvenidos a Red MenTe</h1>
            <p>
                Nos llena de orgullo darles la bienvenida a la página oficial de Red MenTe,
                un espacio creado especialmente para los programas <strong>MenTe en Acción</strong> y <strong>Women in Acción</strong>
                de la ONG Ideas en Acción.
            </p>
            <p>
                Aquí encontrarán recursos, historias de éxito y oportunidades para conectar, inspirar y empoderar
                a las mentes creativas y emprendedoras que buscan transformar el mundo.
                ¡Gracias por formar parte de nuestra comunidad!
            </p>
        </div>

    </div>
</div>


