@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid my-5">
    <!-- Mensaje de bienvenida -->
    <div class="text-center">
        <h1 style="color: #7C3AED;">Bienvenidos a Red MenTe</h1>
        <p style="color: #000000;">
            Nos llena de orgullo darles la bienvenida a la página oficial de Red MenTe,
            un espacio creado especialmente para los programas <strong>MenTe en Acción</strong> y <strong>Women in Acción</strong>
            de la ONG Ideas en Acción.
        </p>
        <p style="color: #000000;">
            Aquí encontrarán recursos, historias de éxito y oportunidades para conectar, inspirar y empoderar
            a las mentes creativas y emprendedoras que buscan transformar el mundo.
            ¡Gracias por formar parte de nuestra comunidad!
        </p>
    </div>
    <!-- Imagen entre el menú superior y el mensaje -->
    <div class="text-center mb-4">
        <img src="~/Templates/img/LogotipoRedMenTe.jpg" alt="Panel de Administración" class="img-fluid" style="max-width: 50%; height: auto; border-radius: 8px;">
    </div>

</div>


